/*Enemies*/

.koopa, .redkoopa, .flyingKoopa, .koopaShell, .redkoopaShell, .goomba,
.piranhaPlant, .venusFireTrap, .fireBall{
	background: transparent url(images/enemies.png) no-repeat left top;
	width:16px;
	height:26px;
}
.koopa{
	width:16px;
	height:26px;
	background-position:-71px -65px;
	-webkit-animation:koopaRun 0.5s step-start infinite;
	-moz-animation:koopaRun 0.5s step-start infinite;	
}
@-webkit-keyframes koopaRun{
	0%, 100%{background-position:-71px -65px;}
	50%{background-position:-88px -65px;}		
}
@-moz-keyframes koopaRun{
	0%, 100%{background-position:-71px -65px;}
	50%{background-position:-88px -65px;}			
}
.redkoopa{
	width:16px;
	height:26px;
	background-position:-2px -65px;
	-webkit-animation:redkoopaRun 0.5s step-start infinite;
	-moz-animation:redkoopaRun 0.5s step-start infinite;	
}
@-webkit-keyframes redkoopaRun{
	0%, 100%{background-position:-2px -65px;}
	50%{background-position:-19px -65px;}		
}
@-moz-keyframes redkoopaRun{
	0%, 100%{background-position:-2px -65px;}
	50%{background-position:-19px -65px;}			
}
.flyingKoopa{
	background-position:-71px -93px;
	-webkit-animation:koopaJump 1s step-start infinite;
	-moz-animation:koopaJump 1s step-start infinite;	
}
@-webkit-keyframes koopaJump{
	0%, 100%{background-position:-71px -93px}
	25%{background-position:-88px -93px}	
	50%{background-position:-105px -93px}
	75%{background-position:-122px -93px}	
}
@-moz-keyframes koopaJump{
	0%, 100%{background-position:-71px -93px}
	25%{background-position:-88px -93px}	
	50%{background-position:-105px -93px}
	75%{background-position:-122px -93px}	
}

.enemie.turnRight{
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}
.koopaShell{
	background-position:-71px -121px;
	width:16px;
	height:16px;
}
.redkoopaShell{
	background-position:-2px -121px;
	width:16px;
	height:16px;
}
.koopaShell.enemie{
	background-position:-71px -121px;
	-webkit-animation:koopaShellSurf 0.4s step-start infinite;
	-moz-animation:koopaShellSurf 0.4s step-start infinite;
}
@-webkit-keyframes koopaShellSurf{
	0%, 100%{background-position:-71px -121px;}
	25%{background-position:-88px -121px;}
	50%{background-position:-105px -121px;}
	75%{background-position:-122px -121px;}
}
@-moz-keyframes koopaShellSurf{
	0%, 100%{background-position:-71px -121px;}
	25%{background-position:-88px -121px;}
	50%{background-position:-105px -121px;}
	75%{background-position:-122px -121px;}
}
.redkoopaShell.enemie{
	background-position:-2px -121px;
	-webkit-animation:redkoopaShellSurf 0.4s step-start infinite;
	-moz-animation:redkoopaShellSurf 0.4s step-start infinite;
}
@-webkit-keyframes redkoopaShellSurf{
	0%, 100%{background-position:-2px -121px;}
	25%{background-position:-19px -121px;}
	50%{background-position:-36px -121px;}
	75%{background-position:-53px -121px;}
}
@-moz-keyframes redkoopaShellSurf{
	0%, 100%{background-position:-2px -121px;}
	25%{background-position:-19px -121px;}
	50%{background-position:-36px -121px;}
	75%{background-position:-53px -121px;}
}

.enemie.dying, .enemie.ejected{
	-webkit-animation:enemieDie 0.3s ease-out 1 forwards;
	-moz-animation:enemieDie 0.3s ease-out 1 forwards;	
}
@-webkit-keyframes enemieDie{
	45%{-webkit-transform: translate(20px,-50px) rotate(180deg);}
	50%{-webkit-transform: translate(25px,-55px) rotate(180deg);}
	60%{-webkit-transform: translate(30px,-50px) rotate(180deg);}
	100%{-webkit-transform: translate(70px,100px) rotate(180deg);}
}
@-moz-keyframes enemieDie{
	/*20%{-moz-transform: translate(7px,-20px) rotate(50deg);}*/
	45%{-moz-transform: translate(20px,-50px) rotate(180deg);}
	50%{-moz-transform: translate(25px,-55px) rotate(180deg);}
	60%{-moz-transform: translate(30px,-50px) rotate(180deg);}
	100%{-moz-transform: translate(70px,100px) rotate(180deg);}
}


.goomba{
	background-position:-32px -256px;
	width: 16px;
	height: 16px;
	-webkit-animation:goombaWalk 0.5s step-start infinite;
	-moz-animation:goombaWalk 0.5s step-start infinite;		
}
@-webkit-keyframes goombaWalk{
	0%, 100%{background-position:-32px -256px;}
	50%{background-position:-53px -256px;}		
}
@-moz-keyframes goombaWalk{
	0%, 100%{background-position:-32px -256px;}
	50%{background-position:-53px -256px;}			
}
.goomba.dying{
	background-position:-11px -256px;
	-webkit-animation:none;
	-moz-animation:none;	
}

.piranhaPlant{
	background-position:-173px -340px;
	width: 16px; 
	height: 32px;
	-webkit-animation:piranhaPlant 0.5s step-start infinite;
	-moz-animation:piranhaPlant 0.5s step-start infinite;	
}
@-webkit-keyframes piranhaPlant{
	0%, 100%{background-position:-173px -340px;}
	50%{background-position:-190px -340px;}
}
@-moz-keyframes piranhaPlant{
	0%, 100%{background-position:-173px -340px;}
	50%{background-position:-190px -340px;}		
}
.venusFireTrap{	
	background-position:-105px -340px;
	width: 16px; 
	height: 32px;
}
.venusFireTrap.SW{background-position:-105px -340px;}
.venusFireTrap.NW{background-position:-122px -340px;}
.venusFireTrap.SE{background-position:-138px -340px;}
.venusFireTrap.NE{background-position:-156px -340px;}

.fireBall{
	background-position:-2px -392px;
	width: 9px;
	height: 9px;
	-webkit-animation:fireBall 0.6s step-start infinite;
	-moz-animation:fireBall 0.6s step-start infinite;
}
@-webkit-keyframes fireBall{
	0%, 100%{background-position:-2px -392px;}
	25%{background-position:-11px -392px;}
	50%{background-position:-21px -391px;}
	75%{background-position:-30px -392px;}
}
@-moz-keyframes fireBall{
	0%, 100%{background-position:-2px -392px;}
	25%{background-position:-11px -392px;}
	50%{background-position:-21px -391px;}
	75%{background-position:-30px -392px;}		
}
